{
  "rules": {
    "no-unused-vars": "warn",
    "no-invalid-regexp": "warn",
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "experimentalObjectRestSpread": true
  }
}