/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);*/
@import "~normalize.css";
@import "roboto.css";
@import "raleway.css";
@import "roboto-light.css";


/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
}

.header, .footer {
    flex-grow: 0;
    height: 10%;
    background-color: aquamarine;
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
}

.container .column {
    flex-grow: 1;
    flex-basis: 10%;
}

.container main.column {
    flex-grow: 30;

}

.column-1 {
    background-color: blueviolet;
}

.column-2 {
    background-color: lightgreen;
    position: relative;
}

.column-3 {
    background-color: hotpink;
}

.main-container, .additional-container {
    transition: opacity .8s ease-in-out .5s;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    opacity: 0;
}

.main-container.active, .additional-container.active {
    opacity: 1;
    z-index: 15;
}

.login, .sign-up, .home, .edit-profile, .delete-profile, .users-table {
    width: 420px;
    background: #ffffff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.edit-profile,.images {
    width: 100%;
    display: flex;
    max-height: 100%;
    overflow: auto;
    align-items: flex-start;
    align-self: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.users-table {
    position: relative;
    width: 100%;
}

.delete-profile {
    opacity: 0;
    display: none;
    z-index: 25;
    box-shadow: 0 20px 50px rgb(0 0 0);
    border: 5px solid lightgray;
    transition: opacity 2s;
}

.delete-profile.active {
    display: block;
    opacity: 1;
}

.home {
    background: linear-gradient(90deg, #04DFBD, #00FCD1);
    height: 54%;

    -webkit-animation: rotate-center 3s ease-in-out both;
    animation: rotate-center 3s ease-in-out both;
}

.edit-profile .form .form-field label {
    width: 100%;
    padding: 0 15px 0 0;
    color: #9596A2;
}

/*start*/

.edit-profile .form h2 {
    display: flex;
    padding: 5px 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.edit-profile .form input[type="file"] {
    display: none;
}

.edit-profile .form .custom-file-upload {
    border-radius: 50%;
    display: inline-block;
    position: relative;
    padding: 6px;
    cursor: pointer;
    background: linear-gradient(270deg, #3fa1a9, #79f1a4);

}

.edit-profile .form .img-wrap {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.edit-profile .form .img-upload:before {
    content: "\f093";
    font-size: 55px;
    position: absolute;
    padding-top: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #63d3a6;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.edit-profile .form .img-upload:hover:before {
    opacity: 1;
}

.edit-profile .form .img-upload img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*.edit-profile .photo-container .content {*/
/*    height: 0;*/
/*    padding-top: 130%;*/
/*    position: relative;*/
/*    display: block;*/
/*}*/

/*.edit-profile .photo-container .content-image {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    max-height: 100%;*/
/*    max-width: 100%;*/
/*}*/

#delete-avatar, delete-user-photo {
    transition: color 1s;
}

#delete-avatar:hover, .delete-user-photo {
    color: red;
}

.delete-user-photo {
    margin: 5px;
    margin-left: auto;
    display: block;
    cursor:pointer;
    width: fit-content;
}

/*end*/
.edit-profile .form .form-field select {
    height: 65%;
    width: 100%;
    border: none;
    padding: 0 15px 0 0;
    color: #9596A2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.edit-profile .form .form-field select option {
    height: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}

.edit-profile .form .button .arrow-wrapper .arrow,
.users-table .form .button .arrow-wrapper .arrow {
    position: absolute;
    right: 10%;
    top: 50%;
    margin: auto;
    right: 35px;
    width: 15px;
    height: 2px;
    background: none;
    transform: translateY(-50%);
}

.edit-profile-actions,
.delete-profile-actions,
.edit-user-actions {
    display: flex;
}

.user-photos {
    overflow: auto;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: space-between;
}

.deleteUserPhoto {
    color: #fff;
    margin: 5px;
}

.photo-container {
    padding: 1em 0;
    overflow: auto;
    width: 50%;
}

.photo-container .title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px;
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay {
    opacity: 1;
}

.content-image {
    width: 100%;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-details h3 {
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}


.photo-container .content:hover .content-details {
    top: 75%;
    left: 50%;
    opacity: 1;
}

.photo-container .details {
    display: flex;
    justify-content: space-around;
}

.photo-container .details-avatar-container img.details-avatar-image {
    border: 3px solid lightgreen;
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 25%;
}

.images-container {
    max-height: 605px;
    overflow: auto;
   background:  #f5f5fa;
}

.content-details .details h3 {
    align-self: end;
}
.content-details .details-avatar-container {
    width: 50px;
    height: 65px;
}
.details-date {
    display: flex;
    margin-left: 20px;
}
.photo-container .content-details p {
    color: #fff;
    padding-left: 5%;
    margin: 0;
    font-size: 0.8em;
}

.fadeIn-top {
    top: 20%;
}

.login .form, .sign-up .form, .edit-profile .form, .delete-profile .form {
    display: block;
    position: relative;
}

.login .form h2, .sign-up .form h2, .edit-profile h2, .delete-profile h2, .users-table h2,
.images-container h2 {
    background: #f5f5fa;
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 40px;
    font-weight: 200;
    color: #9596A2;
    font-size: 19px;
}

.images-container h2 {
    margin: 0;
}

.users-table h2{
    margin: 0;
    padding: 30px;
}
.delete-profile .form h2 {
    text-align: center;
    padding: 30px 40px;
}

.login .form .form-field, .sign-up .form .form-field, .edit-profile .form .form-field, .users-table .users-table-form .users-table-row {
    display: flex;
    align-items: center;
    height: 55px;
    margin: 0 40px 30px 40px;
    border-bottom: 1px solid #9596A2;
}

.users-table .users-table-form .users-table-row {
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
}

.login .form .form-field label, .sign-up .form .form-field label {
    width: 10px;
    padding: 0 15px 0 0;
    color: #9596A2;
}

.login .form .form-field input, .sign-up .form .form-field input, .edit-profile .form .form-field input,
.users-table .users-table-form .user-login {
    width: 100%;
    background: transparent;
    color: #9596A2;
    padding: 15px;
    border: 0;
    margin: 0;
    cursor: pointer;

}

.login .form .form-field input:focus, .sign-up .form .form-field input:focus,
.edit-profile .form .form-field input:focus {
    outline: none;
}

.login .form .button, .sign-up .form .button, .edit-profile .form .button,
.delete-profile .form .button, .users-table .users-table-form .button {
    width: 100%;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 40px 8px 40px;
    margin: 0;
    border: 0;
    background: transparent;
    outline: none;
}

.edit-profile .form .button-save, .edit-profile .form .button-close {
    flex-grow: 1;
    width: 0;
}

.edit-profile .form .button-add-photo {
    flex-basis: 100%;
    width: 0;
    padding-bottom: 8px;
}

.users-table-header {
    display: flex;
    background: #f5f5fa;
}

.users-table .users-table-form .button {
    padding: 0 0 0 5px;
}

.users-table .users-table-form .button.button-view-images {
    width: 100%;
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    background: transparent;
    outline: none;
    height: 50%;
    align-self: center;
    padding: 0 35px;
}

.login .form .button .arrow-wrapper, .sign-up .form .button .arrow-wrapper,
.edit-profile .form .button .arrow-wrapper,
.delete-profile .form .button .arrow-wrapper, .users-table .users-table-form .button .arrow-wrapper {
    transition: all 0.45s ease-in-out;
    position: relative;
    margin: 0;
    width: 100%;
    height: 55px;
    right: 0;
    float: right;
    background: linear-gradient(90deg, #04DFBD, #00FCD1);
    box-shadow: 0 3px 20px rgba(0, 252, 209, 0.4);
    border-radius: 12px;
}

.users-table .users-table-form .button.button-delete-user .arrow-wrapper {
    background: linear-gradient(90deg, #df0446, #fc002e);
    box-shadow: 0 3px 20px rgba(252, 0, 80, 0.4);

}

.users-table .users-table-form .button .arrow-wrapper {
    width: 100px;
    height: 35px;
}

.users-table .users-table-header .button.button-view-images .arrow-wrapper {
    width: 100%;
    height: 55px;
}

.login .form .button:hover .button-text, .sign-up .form .button:hover .button-text,
.edit-profile .form .button:hover .button-text,
.delete-profile .form .button:hover .button-text,
.users-table .users-table-form .button:hover .button-text,
.users-table .users-table-form .button.button-view-images:hover .button-text {
    transition: 1.5s color;
    color: black;
}

.login .form .button .arrow-wrapper .arrow, .sign-up .form .button .arrow-wrapper .arrow,
.edit-profile .form .button .arrow-wrapper .arrow,
.delete-profile .form .button .arrow-wrapper .arrow,
.users-table .users-table-form .button .arrow-wrapper .arrow {
    position: absolute;
    top: 50%;
    margin: auto;
    right: 35px;
    width: 15px;
    height: 2px;
    background: none;
    transform: translateY(-50%);

}

.login .form .button .arrow-wrapper .arrow:before, .sign-up .form .button .arrow-wrapper .arrow:before
.edit-profile .form .button .arrow-wrapper .arrow:before,
.delete-profile .form .button .arrow-wrapper .arrow:before,
.users-table .users-table-form .button .arrow-wrapper .arrow:before {
    position: absolute;
    content: '';
    top: -4px;
    right: 0;
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.login .form .button .button-text, .sign-up .form .button .button-text,
.edit-profile .form .button .button-text,
.delete-profile .form .button .button-text,
.users-table .users-table-form .button .button-text,
.users-table .users-table-form .button.button-view-images .button-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    color: #ffffff;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
}

.users-table .users-table-form .button .button-text {
    line-height: 35px;
    font-size: 13px;
}

.login .form-login-error {
    display: none;
}

.login .validCredentials-false .form-login-error {
    color: red;
    display: block;
}

.login .validCredentials-false .form-login-invitation {
    display: none;
}

.sign-up .error-message {
    position: absolute;
    color: red;
    width: 100%;
    font-size: 10px;
    font-style: italic;
}

.sign-up .login-error-message {
    top: 35%;
}

.sign-up .password-error-message {
    top: 52%;
}

.sign-up .repeatPassword-error-message {
    top: 70%;
}

.finished {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.finished img.finished-icon, .finished img.finished-icon {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: white;
    opacity: 0;
    transition: all .3s ease-in-out 1.5s;
}

.home .finished img.finished-icon, .active .finished img.finished-icon {
    opacity: 1;
}

.user-male > div {
    box-sizing: border-box;
    margin: 2px;
    border: 1px solid #999;
    border-radius: 6px;
    width: 50%;
}

.user-male label {
    padding-left: 5px;
    margin: 0;
    text-align: center;
}

.male_radio_btn {
    display: inline-block;
    margin-right: 10px;
}

.male_radio_btn input[type=radio] {
    display: none;
}

.male_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    user-select: none;
}

/* Checked */
.male_radio_btn input[type=radio]:checked + label {
    background: linear-gradient(90deg, #04DFBD, #00FCD1);
    padding: 0;
}

/* Hover */
.male_radio_btn label:hover {
    color: #666;
}

/* Disabled */
.male_radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

/*datePicker*/
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.edit-profile .form .form-field label {
    width: 100%;
    padding: 0 15px 0 0;
    color: #9596A2;
}

.edit-profile .form .form-field select {
    height: 65%;
    width: 100%;
    border: none;
    padding: 0 15px 0 0;
    color: #9596A2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.edit-profile .form .form-field select option {
    height: 100%;
    box-sizing: border-box;
    margin: 10px 0;
}

.edit-profile .form .button .arrow-wrapper .arrow,
.users-table .form .button .arrow-wrapper .arrow {
    position: absolute;
    right: 10%;
    top: 50%;
    margin: auto;
    right: 35px;
    width: 15px;
    height: 2px;
    background: none;
    transform: translateY(-50%);
}

.edit-profile-actions,
.delete-profile-actions,
.edit-user-actions {
    display: flex;
}

.edit-profile-actions {
    flex-wrap: wrap;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
    }

    60% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: translate(-50%, -50%) rotate(0);
        transform: translate(-50%, -50%) rotate(0);
        opacity: 1;
    }

    60% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        opacity: 0;
    }
}






